@include('partials/html-header')
<body>
    @include('partials/menu')
    <h1>Über uns</h1>
    
    Wir sind ein junges, superdynamisches Team von Bloggern. Wir bloggen über alles, was uns interessiert.
    
</body>
</html>